<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/being.css">
    <title>Lol4NewBees</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand col-3" href="https://play.na.leagueoflegends.com/en_US">
        
            <img src="../assets/LOL_Logo.png" width="60" height="60" alt="logo">
        </a>
        <h5 class="title col-4">
            <span class="text-center" style="color: #937341">Bienvenido invocador
                <br></span>
            </h5>
            
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../views/main.html">La grieta
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/tips.html">Vocabulario</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link disabled" href="../views/champions.html">Campeones</a>
                </li>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="../views/being.html">Tips</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="https://lan.leagueoflegends.com/es/page/preguntas-frecuentes-recompensas-3a-temporada">Dudas Frecuentes</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="container ">
        <div class="row">
            <div class="header col-4">
                <img class="img-fluid" src="../assets/Lollogo.png" alt="">
            </div>
            <div class="header col-4 offset-4">
                    <img class="img-fluid" src="../assets/tumblr_ns7jo9mhgh1tv95gno1_500.gif" alt="">
                </div>
        </div>
    </header>
    <main>
       <div class="text-warning text-center">Tips para tener un mejor juego y dejar de ser un Bronza</div>
        
        <section class="container-fluid">
            <div class="row">
                <div class="lulu col-4 left">
                    <img src="../assets/tips.JPG" width="400" height="200" alt="" class=>
                </div>
          
                <article class="card col-sm8">
                    <h5>ASUME QUE JUGARAS FATAL </h5>
                    <p>Asume que, al principio, vas a jugar fatal
                            Pasa en todos los juegos, pero en League of Leagends es algo más evidente. Puede que hayas conseguido 50 prestigios en Call of Duty o que seas el rey del mambo en FIFA u Overwatch, pero en LoL vas a palmar las primeras partidas sí... o sí.
                            
                            Y es que, aunque vengas de otros MOBA, cada uno es distinto y toca aprenderse las habilidades de los personajes, qué es eso llamado ''tienda'', llegar al nivel requerido para conseguir ciertas habilidades, adaptarse a la rotación de personajes, ver qué campeones funcionan mejor juntos para hacer un mejor juego en equipo y, en definitiva, conocer el meta del juego.</p>
                            <p>Las primeras partidas no deben desanimaros. Son la toma de contacto con el juego, el momento de aprender cómo se juega a LoL, de descubrir sus secretos y, sobre todo, ver cómo funcionan las mecánicas. Disfruta, no te estreses y no quieras matar demasiado pronto. Concéntrate en aprender del rival y de tus compañeros y, sobre todo, que cada partida cuente. Es decir, si juegas con Teemo, cógelo en las siguientes partidas, aprende cómo funciona y, cuando te toque cambiar a Jynx, haz lo mismo. Como se suele decir, no quieras crecer demasiado deprisa.</p>


                       
                           
                    </article>
                    <article class="card col-sm8 offset-sm3">
                        <h5>JUEGA EN EQUIPO</h5>
                        <p>Es tonto decirlo , pero también hay que recordarlo. Para ser mejor jugador de League of Legends, hay que jugar en equipo. Como todos los juegos competitivos y cooperativos, es importante jugar en equipo, pero en League of Legends es vital. En CS:GO o Call of Duty podemos ser unos ases e ir ligando aces como si nada. En Overwatch podemos molestar al rival, pero también necesitamos a nuestro equipo.</p>
                        <p>En LoL, sin embargo, si somos un lobo solitario no ganaremos nada. Podremos matar mucho, pero necesitaremos al equipo para destruir las torres y el nexo, que es el objetivo final. Utiliza el chat no sólo para echar la bronca a los aliados, sino para ver a qué lineas tienes que ir o a dónde deben acudir tus compañeros. Utiliza las señales y, sobre todo, no vayas a tu bola pasando de todo con el único objetivo de aumentar tu contador de muertes.</p>
                    </article>
                    <article class="card col-sm8">
                            <h5>ELIGE EL MEJOR CAMPEON PARA TI</h5>
                            <p>Cuando entras a League of Legends, también pasa cuando llevas un buen puñado de horas a las espaldas, te topas con un montón de héroes. Tranquilo, sólo unos cuantos están disponibles (a no ser que los vayas comprando, por lo que se quedarán de forma permanente en el selector), pero aún así sigue habiendo bastantes personajes y toca hacerse la pregunta de... ¿cuál cojo?

                                    No hay una respuesta concreta. El mejor consejo para ser mejor jugador de League of Legends es que vayas rotando. Elige un personaje y juega cuatro o cinco partidas con él. La primera será de prueba, pero en la segunda ya sabrás cómo funcionan sus habilidades, ect. En las siguientes aprenderemos el rango de ataque, qué línea domina mejor (esto es algo de lo que hablaremos más adelante) y otros factores como su resistencia o el poder de ataque una vez sube de nivel.
                                    
                                    Prueba de todo y luego, cuando tengas una visión global, elige. No a todos se nos da bien el cuerpo a cuerpo o la acción desde lejos, sino esa media distancia con gran poder de ataque y una buena relación entre daño y mantener la distancia con el rival mientras otro aliado le da duro.</p>
                        </article>
                  
                                    <div class="col-sm1"></div>
                                </div>
                            </section>
                            
                        </main>
                        <footer>
                            <div class="panel panel-default">
                                <div class="panel-body"> © Riot Games, Inc. Todos los derechos reservados. Riot Games, League of Legends y PvP.net son marcas comerciales o marcas registradas de Riot Games, Inc.</div>
                            </div>
                        </footer>
                        
                        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                        
                        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
                        <script>
                            // Initialize Firebase
                            var config = {
                                apiKey: "AIzaSyDMO_Lp1WJu123MjGNjwuNcuulXCj40eqw",
                                authDomain: "lol-4new-bees.firebaseapp.com",
                                databaseURL: "https://lol-4new-bees.firebaseio.com",
                                projectId: "lol-4new-bees",
                                storageBucket: "lol-4new-bees.appspot.com",
                                messagingSenderId: "898255528761"
                            };
                            firebase.initializeApp(config);
                        </script>
                        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
                        <script type="text/javascript" src="../js/app.js"></script>
                    </body>
                    
                    </html>