<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/vocabulary.css">
    <title>Lol4NewBees</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand col-3" href="https://play.na.leagueoflegends.com/en_US">
            
            <img src="../assets/LOL_Logo.png" width="60" height="60" alt="logo">
        </a>
        <h5 class="title col-4">
            <span class="text-center" style="color: #937341">Bienvenido invocador
                <br></span>
            </h5>
            
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../views/main.html">La grieta
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/vocabulary.html">Vocabulario</a>
                </li>
                
                <li class="nav-item">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Campeones
                    </button>
                    <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <a class="nav-link disabled" href="../views/champions.html">Campeones</a>
                            <a class="nav-link disabled" href="../views/Individual.html">Single Champion</a>
                        </div>
                    </div>
                    <!--  -->
                </li>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="../views/being.html">Tips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="https://lan.leagueoflegends.com/es/page/preguntas-frecuentes-recompensas-3a-temporada">Dudas Frecuentes</a>
            </li>
        </ul>
        <button class="btn btn-outline-dark" type="button" id="logout">Logout</button>
        
    </div>
</nav>
<header class="container ">
    <div class="row">
        <div class="header col-4">
            <img class="img-fluid" src="../assets/Lollogo.png" alt="">
        </div>
    </div>
</header>
<main>
    <div class="container">
        <p class="tipi col-sm4 offset-sm4 .text-warning">Aprende rapido y evita ser insultado. Recuerda que si te estresas, peor juegas! Manten la calma</p>
    </div>
    
    <section class="container-fluid">
        <div class="row">
            <div class="lulu col-4 left">
                <img src="../assets/lulu.png" width="150" height="200" alt="" class=>
            </div>
            
            <article class="card col-sm8">
                <h5>1-POSICIONES EN EL MAPA </h5>
                <p>Al momento de entrar en una partida debes de decir en el chat que linea quieres, reacciona rapido, o te ganaran la linea que deseas, si te la ganan, no pelees, trata de pedirla, si no te la dan, pregunta que linea queda y adaptate a ella, recuerda, los MOBAS (Massive Online Battle Arena) Ya son muy estresantes sin tener que estar peleando entre ustedes, incentivemos un juego sano y por diversion!</p>
                
                
                <div><strong>Lane:</strong> Camino por donde van los creeps o minions. <div>
                    <div><strong>Bot:</strong>  Linea de la parte de abajo del mapa usualmente van dos personas, un tirador y un support que se encargara de mantenerlo vivo, jueguen bien, necesitan sinergia. <div>
                        <div><strong>Top:</strong>  Linea de la parte de arriba del mapa, suele ir 1 solo jugador, un tanke, o un mago de control, con alto daño. <div>
                            <div><strong>Mid:</strong>  Esta linea es la parte de en medio, con un solo jugador , usualmente un mago o un asesino, debe estar muy atento al mapa y ayudar constantemente a las otras lineas !cuidado con el jungla! <div>
                                <div><strong>Jungla:</strong>  Esta no es una linea como tal, se mueve por el campo de batalla matando a los monstruos que aparecen en ella (es tu unica manera de ganar dinero, siempre empieza  por blue o red un par de enemigos de los que hablaremos mas adelante) y ademas dan bonus extra a si mismo o al equipo, ademas es el encargado de Gankear, es decir, emboscar a los enemigos desprevenidos NO OLVIDES EQUIPARTE SMITE EN LA SELECCION DEL CAMPEON (la cosita de la mano con el rayo) <div>
                                    
                                    
                                    
                                </article>
                                <article class="card col-sm8 offset-sm3">
                                    <h5>2-FARMEAR</h5>
                                    <p>Farmear significa, matar minions, estos aparecen en el primer minuto y salen en oleadas de 6, cada 3 oleadas sale uno extra con un cañon, este es mucho mas fuerte y da mucho mas dinero, hay cosas que entender con los minions o subditos que no debes olvidar, estos son tu  maxima proteccion contra otros jugadores, los subditos enemigos o las torretas, nunca entres a una torre sin minions, nunca vayas contra tu enemigo sin minions, a veces ellos pueden salvarte de buenos ataques , como con blitzkcrank o Morgana. Sobre farmear <strong>DA SIEMPRE EL ULTIMO GOLPE</strong> si aprendes a darles el ultimo golpe a los minions, tienes la mitad del juego entendido y ganado, a esto se le llama farmear, el subdito muerto solo te da dinero, si le das el ultimo golpe, Que no te ganen los otros minions!</p>
                                </article>
                                <article class="card col-sm8">
                                    <h5>3-Tipos de campeon</h5>
                                    <p>Existen varios tipos de campeones, asegurate de probarlos todos conforme salgan gratuitos no todos los campeones se adaptaran a tu ritmo de juego, ni son tan faciles de entender, asi que no te frustres! puedes probar campeones con el tipo de juego ARAM, solo pregunta su tipo de daño, eso te lo explicaremos en el siguiente punto.</p>
                                    <div><img src="../assets/Mage.png" alt="" width="20" height="25"><strong>Magos:</strong>Los Magos son campeones, en su mayoría a distancia, que priorizan habilidades de gran alcance sobre los ataques básicos. Normalmente los magos se caracterizan por una combinación de habilidades de largo alcance, efectos de área o de alta utilidad para hacer el trabajo. Un mago experto puede tener un enorme impacto en cualquier equipo con sus conjuntos de habilidades versátiles y estilo de juego flexible.</div>    
                                    <div><img src="../assets/Assassin.png" alt="" width="20" height="25"><strong>Asesinos:</strong>Un Asesino es un campeón especializado en matar o desestabilizar objetivos de alto valor estratégico. Orientados a la infiltración, engaño, y movimiento, los Asesinos son cazadores oportunistas que buscan el momento favorable antes de entrar al combate. Independientemente del tamaño del equipo enemigo, el Asesino se especializa en el arte de ocultarse y matar. Atacan cuando llega el momento – ni antes, ni después..</div>    
                                    <div><img src="../assets/Tirador_old.png" alt="" width="20" height="25"><strong>Tiradores o ADC (Attack damage Carry)</strong>Los tiradores son atacantes a distancia que sacrifican su defensa para poseer ataque que ayude al equipo a eliminar rapidamente a los rivales. Tipicamente centrandose en sus ataques basicos mas que en sus habilidades.</div>    
                                    
                                </article>
                                
                                <div class="col-sm1"></div>
                            </div>
                        </section>
                        
                    </main>
                    <footer>
                        <div class="panel panel-default">
                            <div class="panel-body"> © Riot Games, Inc. Todos los derechos reservados. Riot Games, League of Legends y PvP.net son marcas comerciales o marcas registradas de Riot Games, Inc.</div>
                        </div>
                    </footer>
                    
                    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    
                    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
                    <script>
                        // Initialize Firebase
                        var config = {
                            apiKey: "AIzaSyDMO_Lp1WJu123MjGNjwuNcuulXCj40eqw",
                            authDomain: "lol-4new-bees.firebaseapp.com",
                            databaseURL: "https://lol-4new-bees.firebaseio.com",
                            projectId: "lol-4new-bees",
                            storageBucket: "lol-4new-bees.appspot.com",
                            messagingSenderId: "898255528761"
                        };
                        firebase.initializeApp(config);
                    </script>
                    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
                    <script type="text/javascript" src="../js/app.js"></script>
                </body>
                
                </html>